﻿@model IEnumerable<MovieStore.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

@if(!Model.Any())
{
    <p>We don't have any customers</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id}, null)</td>
                    </tr>
            }
        </tbody>
        </table>
}